.h1__headline-about {
  height: 130px;
}

.body__text-about {
  width: 45%;
  margin: auto;
}

.about__img {
  height: 600px;
  width: auto;
}

.body__div {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
