.alert {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.danger {
  color: red;
  border: solid 1px red;
  padding: 20px;
}

.success {
  color: darkgreen;
  border: solid 1px darkgreen;
  padding: 20px;
}

.warning {
  color: orange;
  border: solid 1px orange;
  padding: 20px;
}

.information {
  color: blue;
  border: solid 1px blue;
  padding: 20px;
}
