.main__contact {
  height: 900px;
}

.contact__text {
  width: 30%;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 620px;
  margin-top: 4%;
  text-align: center;
}

#name,
#email,
#subject,
#message {
  border: 1px solid #d4e0da;
  border-radius: 10px;
  font-size: 0.9rem;
  box-shadow: var(--shadow);
  width: 400px;
  height: 55px;
  margin: auto;
  padding-left: 16px;
}

#message {
  height: 190px;
  resize: none;
  padding-top: 20px;
}

#submit {
  background-color: var(--green);
  color: var(--white);
  width: 180px;
  height: 55px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  box-shadow: var(--shadow);
  margin-top: 20px;
  cursor: pointer;
}

.error {
  color: #ff1100;
  display: none;
  margin: 15px;
  font-size: 0.9rem;
  margin-top: 5px;
}

.hide {
  display: none;
}

.show {
  display: block;
}
