.header__img {
  width: 100%;
  background-image: url(/img/waves.svg);
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.logo__div {
  margin-top: 4%;
}

.logo__div a {
  color: var(--white);
  font-size: 1.3rem;
  letter-spacing: var(--letter-spacing);
  text-decoration: none;
}

.ul__elements {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 4.5%;
}

.ul__elements a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

/* .ul__elements .active {
  color: var(--black);
  text-decoration: none;
} */

.active:hover,
.link:hover {
  color: var(--black);
}

/* HAMBURGER MENU */

.burger div {
  width: 28px;
  height: 3px;
  background-color: var(--white);
  margin: 5px;
  transition: all 0.3s ease;
}

.burger {
  display: none;
}
