@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  letter-spacing: 1px;
}

body,
.logo__text {
  font-family: "Libre Baskerville", serif;
}

nav,
footer,
.body__text,
#submit,
#name,
#email,
#subject,
#message,
.error,
.body__text-section1,
.body__text-about,
.content__text,
.show__btn,
.slider__info p {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.125rem;
  font-weight: bold;
}

.h1__headline {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

.body__text,
.body__text-section1,
.body__text-about {
  font-size: 1rem;
  line-height: var(--line-height);
}

.new__line {
  display: block;
}

.bold__text {
  font-weight: bold;
  font-size: 1.2rem;
}
