/* TABLET */
@media (max-width: 991px) {
  /* LAYOUT */

  .h1__headline__js {
    font-size: 2rem;
  }

  /* HAMBURGER MENU */

  .open,
  .close {
    display: none;
  }

  .ul__elements {
    width: 55%;
  }

  /* HOME PAGE */

  .h1__home {
    font-size: 2.3rem;
  }

  .section1 {
    display: flex;
    flex-direction: column;
  }

  .beach__img {
    margin-top: 50px;
    height: 500px;
  }

  .body__text {
    width: 53%;
  }

  .h1__headline {
    font-size: 1.5rem;
  }

  /* CONTACT */
  #name,
  #email,
  #subject,
  #message {
    width: 300px;
  }

  form {
    margin-top: 10%;
  }

  .main__contact {
    height: auto;
  }

  /* ABOUT  */

  .body__div {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    margin-top: 8%;
  }

  .body__text-about {
    width: 90%;
  }

  .about__img {
    height: 520px;
    margin: 40px;
    margin-bottom: 0;
  }

  /* SPECIFIC BLOG POST */

  .wp-image {
    height: 360px;
    margin: 10px;
  }

  .overlay__div img {
    height: 520px;
    margin-top: 30%;
  }
}

/* DESKTOP */
@media (max-width: 1200px) {
  /* HOME PAGE */
  .section1 {
    display: flex;
    flex-direction: column;
  }

  .beach__img {
    margin-top: 50px;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  /* LAYOUT */

  .h1__headline {
    font-size: 1.4rem;
  }

  .h1__headline__js {
    font-size: 1.8rem;
  }

  .h3__headline {
    font-size: 1.3rem;
  }

  h2 {
    text-align: center;
    font-size: 1.4rem;
  }

  .bold__text {
    font-size: 1rem;
  }

  .body__text-about,
  .body__text,
  .contact__text {
    font-size: 0.9rem;
  }

  #submit,
  .show__btn {
    font-size: 0.9rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  /* HAMBURGER MENU */

  .ul__elements {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--green);
    display: none;
    margin: 0;
  }

  .open {
    display: block;
    position: absolute;
    top: -10px;
    right: 10px;
    color: var(--white);
    font-size: 1.8rem;
  }

  .close {
    display: block;
    position: absolute;
    top: -10px;
    right: 10px;
    color: var(--white);
    font-size: 1.8rem;
  }

  .logo__div {
    margin-top: 3%;
  }

  .logo__div a {
    font-size: 1.3rem;
  }

  /* HOME PAGE */

  .hero {
    height: 500px;
  }

  .h1__home {
    font-size: 1.6rem;
  }

  .body__text {
    width: 80%;
    font-size: 0.9rem;
  }

  .body__text-section1 {
    font-size: 0.9rem;
    width: 100%;
  }

  .section1 {
    display: flex;
    flex-direction: column;
  }

  .beach__img {
    margin: auto;
    margin-top: 40px;
    height: 300px;
  }

  .responsive {
    margin-top: 6%;
  }

  .slider__headline {
    font-size: 1.25rem;
  }

  .slick-dots {
    height: 6%;
  }

  .h3__headline {
    margin-top: 20%;
  }

  /* ABOUT  */

  .body__div {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 8%;
    margin-bottom: 4%;
  }

  .body__text-about {
    width: 100%;
  }

  .about__img {
    height: 400px;
    margin: 10px;
    margin-top: 6%;
  }

  /* SPECIFIC POSTS */

  .text__2 {
    margin: auto;
    font-size: 0.9rem;
    width: 95%;
  }

  .blocks-gallery-grid {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10%;
  }

  .wp-image {
    height: 350px;
    margin: 10px;
  }

  .overlay__div img {
    height: 400px;
    margin-top: 50%;
  }

  /* CONTACT */

  .main__contact {
    height: auto;
  }

  /* LOADER */

  .loading {
    display: none;
  }

  /* BLOG POSTS */

  .h2__js {
    font-size: 1.25rem;
  }
}

@media (max-width: 1024px) {
  .body__div {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 8%;
    margin-bottom: 4%;
  }

  .body__text-about {
    width: 90%;
    font-size: 0.9rem;
  }

  .about__img {
    height: 440px;
    margin: 40px;
  }
}

@media (min-width: 1500px) {
  .header__img {
    height: 230px;
  }

  body {
    width: 1500px;
    margin: auto;
  }
}
