@media (min-width: 1500px) {
  body {
    width: 1500px;
    margin: auto;
  }
}

/* TABLET */

@media (max-width: 1024px) {
  /* HOME */

  .body__text-section1 {
    width: 100%;
  }

  /* ABOUT */

  .body__div {
    flex-direction: column;
    margin: auto;
  }

  .body__text-about {
    width: 90%;
  }

  .image {
    display: flex;
    align-self: center;
    width: 90%;
    margin-top: 2%;
  }

  .about__img {
    height: 480px;
  }

  /* CONTACT */

  .contact__text {
    width: 50%;
  }

  .overlay__div img {
    margin-top: 30%;
  }
}

@media (max-width: 991px) {
  /* LAYOUT */

  .h1__headline__js,
  .h1__headline-about,
  .h1__headline-contact,
  .h1__headline__blog {
    font-size: 1.9rem;
  }

  .h1__headline-about,
  .h1__headline__blog {
    height: 80px;
  }

  /* HAMBURGER MENU */

  .open,
  .close {
    display: none;
  }

  .ul__elements {
    width: 55%;
    margin-top: 5%;
  }

  /* HOME PAGE */

  .h1__home {
    font-size: 2.3rem;
  }

  .beach__img {
    margin-top: 50px;
    height: 450px;
  }

  .body__text {
    width: 53%;
  }

  .body__text-section1 {
    width: 100%;
  }

  /* ABOUT  */

  .body__div {
    flex-direction: column;
    margin: auto;
  }

  /* SPECIFIC BLOG POST */

  .wp-image {
    height: 360px;
    margin: 10px;
  }

  .overlay__div img {
    height: 520px;
    margin-top: 30%;
  }
}

/* DESKTOP */
@media (max-width: 1200px) {
  /* HOME PAGE */
  .section1 {
    display: flex;
    flex-direction: column;
  }

  .beach__img {
    margin-top: 50px;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  /* LAYOUT */

  .loading img {
    width: 100%;
  }

  .h1__home,
  .h1__headline__blog,
  .h1__headline__js,
  .h1__headline-about,
  .h1__headline-contact {
    font-size: 1.7rem;
  }

  h2,
  .h2__home,
  .h2__js {
    font-size: 1.5rem;
  }

  .h3__headline {
    font-size: 1.4rem;
  }

  .body__text,
  .body__text-section1,
  .text__2,
  #submit,
  .show__btn {
    font-size: 0.9rem;
  }

  .bold__text {
    font-size: 1rem;
  }

  .height__div {
    height: 30px;
  }

  /* HEADER */

  .logo__img {
    height: 55px;
  }

  /* HAMBURGER MENU */

  .ul__elements {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--green);
    height: 105vh;
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 1;
    display: none;
    margin: 0;
  }

  .open {
    top: 2px;
    right: 8px;
  }

  .close {
    top: 20px;
    right: 8px;
  }

  .open,
  .close {
    display: block;
    position: absolute;
    color: var(--white);
    font-size: 2.1rem;
  }

  /* HOME PAGE */

  .hero {
    height: 500px;
  }

  .body__text {
    width: 80%;
  }

  .h2__home {
    text-align: center;
  }

  .beach__img {
    height: 300px;
  }

  .slider__headline {
    font-size: 1.25rem;
  }

  .slick-dots {
    height: 6%;
  }

  .h3__headline {
    margin-top: 30%;
  }

  /* ABOUT  */

  .body__text-about {
    width: 100%;
  }

  .about__img {
    height: 300px;
    margin-top: 4%;
  }

  .h1__headline-about {
    display: block;
    line-height: 50px;
    height: 120px;
  }

  /* SPECIFIC POSTS */

  .blocks-gallery-grid {
    flex-direction: column;
  }

  .wp-image {
    height: 350px;
  }

  .overlay__div img {
    height: 400px;
    margin-top: 40%;
  }

  /* CONTACT */

  .contact__text {
    width: 75%;
  }

  .h1__headline-contact {
    width: 100%;
  }

  #name,
  #email,
  #subject,
  #message {
    width: 330px;
  }
}

@media (max-width: 375px) {
  .h1__headline-contact {
    height: 90px;
  }
}

@media (max-width: 320px) {
  /* CONTACT */

  #name,
  #email,
  #subject,
  #message {
    width: 250px;
  }

  /* HOME */

  .h1__home {
    height: 190px;
  }

  .slider__cont {
    height: 500px;
  }

  /* SPECIFIC BLOG */

  .wp-image {
    height: 300px;
  }

  /* ABOUT */

  .h1__headline-about {
    height: 140px;
  }

  .h1__headline-contact {
    height: 90px;
  }
}

@media (max-width: 280px) {
  /* HOME */

  .hero {
    height: 600px;
  }

  .beach__img {
    height: 250px;
  }

  .slider__cont {
    height: 550px;
  }

  /* BLOG POSTS */

  .blog__card {
    height: 530px;
  }

  /* SPECIFIC BLOG */

  .overlay__div img {
    height: 320px;
  }
}
