/* TABLET */
@media (max-width: 991px) {
  /* HOME PAGE */
  .section1 {
    display: flex;
    flex-direction: column;
  }

  .beach__img {
    margin-top: 50px;
  }

  .body__text {
    width: 53%;
  }

  .h1__headline {
    font-size: 1.5rem;
  }

  /* CONTACT */
  #name,
  #email,
  #subject,
  #message {
    width: 300px;
  }

  form {
    margin-top: 10%;
  }

  /* ABOUT  */

  .body__div {
    width: 95%;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 4%;
  }

  .body__text-about {
    width: 60%;
  }

  .about__img {
    height: 520px;
  }
}

@media (max-width: 1200px) {
  /* HOME PAGE */
  .section1 {
    display: flex;
    flex-direction: column;
  }

  .beach__img {
    margin-top: 50px;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  /* HOME PAGE */
  .h1__home {
    font-size: 1.7rem;
  }

  .body__text {
    width: 53%;
    font-size: 0.9rem;
  }

  .body__text-section1 {
    font-size: 0.9rem;
  }

  .section1 {
    display: flex;
    flex-direction: column;
  }

  .beach__img {
    margin-top: 50px;
    height: 310px;
  }

  /* ABOUT  */

  .body__div {
    display: flex;
    flex-direction: column;
    width: 80%;
    /* margin: auto; */
    margin-top: 8%;
    margin-bottom: 4%;
  }

  .body__text-about {
    width: 100%;
  }

  .about__img {
    height: 440px;
    margin-top: 6%;
  }

  /* LOADER */

  .loading {
    display: none;
  }

  /* HAMBURGER */
}

@media (max-width: 1024px) {
  /* ABOUT  */

  .body__div {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* margin: auto; */
    margin-top: 8%;
    margin-bottom: 4%;
  }

  .body__text-about {
    width: 90%;
    font-size: 0.9rem;
  }

  .about__img {
    height: 440px;
    margin: 40px;
  }
}

@media (max-width: 1920px) {
  /* HEADER */
  .header__img {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 850px) {
  body {
    overflow-x: hidden;
  }

  .logo__div a {
    font-size: 1.1rem;
  }

  .ul__elements {
    position: absolute;
    right: 0px;
    width: 100%;
    height: 80vh;
    top: 5vh;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }

  .ul__elements li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
    margin-top: 12px;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(0px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
