.blog__container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin-top: 6%;
}

.blog__card {
  background-color: var(--card-bgd);
  max-width: 320px;
  height: 490px;
  margin: auto;
  margin-top: 40px;
  padding: 30px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0px 1px 4px 2px rgb(190, 207, 201, 0.3);
  border-radius: 10px;
}

.blog__card a {
  color: var(--black);
  text-decoration: none;
}

.blog__card:hover,
.show__btn:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.h2__js {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 30px;
}

.blog__img {
  height: 290px;
  background-repeat: no-repeat;
  background-size: cover;
}

.bodytext__js p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  line-height: 25px;
  margin-top: 10%;
}

.showmore__btn {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 6%;
}

.show__btn {
  background-color: var(--green);
  border: none;
  width: 200px;
  height: 62px;
  border-radius: 10px;
  padding: 14px;
  color: var(--white);
  font-weight: bold;
  font-size: 0.95rem;
  transition: 0.3s;
  box-shadow: var(--shadow);
}

.loading {
  text-align: center;
}

.hide {
  display: none;
}
