.h1__headline__blog {
  height: 140px;
}

.blog__container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 87%;
}

.blog__card {
  background-color: var(--card-bgd);
  width: 320px;
  height: 490px;
  margin: 25px auto;
  padding: 30px;
  text-align: center;
  transition: var(--transition);
  box-shadow: 0px 1px 6px 2px rgb(98, 124, 110, 0.2);
  border-radius: 10px;
}

.blog__card a {
  color: var(--black);
  text-decoration: none;
}

.blog__card:hover,
.show__btn:hover {
  transform: var(--hover-up);
  cursor: pointer;
}

.h2__js {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 30px;
  height: 60px;
}

.blog__img {
  height: 290px;
  background-repeat: no-repeat;
  background-size: cover;
}

.bodytext__js p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  line-height: 25px;
}

.showmore__btn {
  text-align: center;
  margin-top: 2%;
}

.show__btn {
  background-color: var(--green);
  border: none;
  width: 200px;
  height: 62px;
  border-radius: 10px;
  padding: 14px;
  color: var(--white);
  font-weight: bold;
  font-size: 0.95rem;
  transition: 0.3s;
  box-shadow: var(--shadow);
}

.height__div {
  height: var(--height);
}

.loading {
  text-align: center;
}
