/* COlOURS */

:root {
  --white: #ffffff;
  --black: #000000;
  --green: #829a8e;
  --card-color: rgba(190, 207, 201, 0.2);
  --hover-shadow: 0px 1px 2px 2px rgba(130, 154, 142, 0.2);
  --shadow: 0px 1px 2px 2px rgb(130, 154, 142, 0.2);
  --card-bgd: rgb(190, 207, 201, 0.4);
  --card-bgd-alt: rgb(130, 154, 142, 0.15);
}

/* FONTS */

:root {
  --bold: 700;
  --line-height: 1.6rem;
}

/* DESIGN ELEMNTS */

:root {
  --border-radius: 20px;
  --transition: 0.3s;
  --hover-up: translateY(-4px);
}
